/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

/* header */
header {
  width: 100vw;
}

/* navbar */
#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.container-flex {
  display: flex;
  align-items: center;
}

#navbar ul li {
  padding-left: 30px;
}

#navbar ul li a {
  text-decoration: none;
  color: rgba(25, 28, 31, 0.7);
}

/* dropdown */
.dropdown {
  position: relative;
}

.mio-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}

/* hamburger menu */

.icona-hamburger {
  display: none;
}

.hamburgher {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 80px 50px 10px 50px;;
  overflow: scroll;
  display: none;
}

.liste:nth-child(1) {
  border-bottom: solid 1px lightgrey;
}

.liste:nth-child(2) {
  padding-top: 40px;
}

.hamburgher .liste ul li {
  padding-bottom: 40px;
  padding-left: 0;
}

.dropdown-due {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.dropdown-due i {
  position: absolute;
  right: 0;
  top: 0;
}

.mio-dropdown-due {
  display: none;
  padding-top: 40px;
}

.hamburgher .liste .mio-dropdown-due li {
  padding-bottom: 30px;
}

#bottone-app {
  text-align: center;
}

#bottone-app a {
  text-decoration: none;
}

.close {
  display: block;
  position: absolute;
  right: 55px;
  top: 30px;
  font-size: 30px;
  color: rgba(25, 28, 31);
}

.fade-in {
  display: block;
}

@media screen and (max-width: 1080px) {

  .nav-sparisce {
    display: none;
  }

  .icona-hamburger {
    display: block;
    font-size: 25px;
  }


}

@media screen and (min-width: 1081px){
  .fade-in {
    display: none;
  }
}
