/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* header */
header {
  width: 100vw;
}

/* navbar */
#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.container-flex {
  display: flex;
  align-items: center;
}

#navbar ul li {
  list-style-type: none;
  padding-left: 30px;
}

#navbar ul li a {
  text-decoration: none;
  color: rgba(25, 28, 31, 0.7);
}

/* dropdown */
.dropdown {
  position: relative;
}

.mio-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}
