/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  width: 100vw;
}

/* navbar */
#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.container-flex {
  display: flex;
  align-items: center;
}

#navbar ul li {
  list-style-type: none;
  padding-left: 30px;
}

#navbar ul li a {
  text-decoration: none;
}
